

        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://twitter.com/alfattarezqa" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                    <li><a href="https://facebook.com/alfattarezqa" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                    <li><a href="https://github.com/alfatta" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
                    <li><a href="https://instagram.com/alfattarezqa" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                    <li><a href="https://linkedin.com/in/alfattarezqa" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
                    <li><a href="mailto:arwinnersyah@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Alfatta Rezqa W. </li>
                    <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                    <li>Image: <a href="https://unsplash.com">Unsplash</a></li>
                </ul>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
        <script src="{{ site.url }}/assets/js/util.min.js"></script>
        <!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
        <script src="{{ site.url }}/assets/js/main.min.js"></script>

        <script type='text/javascript'>
            var _tar= {};_tar.ID='e6dfe2c3-e1cb-483c-8e91-7ad1e4fbf5c9';
        </script>
        <script src='https://track.analytic.rocks/load/' async></script>

    </body>
</html>
