<link rel="apple-touch-icon-precomposed" sizes="57x57"    href="{{ site.url }}{{ site.icon.apple57 }}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72"    href="{{ site.url }}{{ site.icon.apple72 }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114"  href="{{ site.url }}{{ site.icon.apple114 }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144"  href="{{ site.url }}{{ site.icon.apple144 }}" />
        <link rel="icon" href="{{ site.url }}{{ site.icon.favicon }}" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
