<!-- Search Engine -->
        <meta name="description" content="{{ site.description }}">
        <meta name="image"       content="{{ site.url }}/assets/img/meta/0000-og.jpeg">

        <!-- Schema.org for Google -->
        <meta itemprop="name"        content="{{ site.title }}">
        <meta itemprop="description" content="{{ site.description }}">
        <meta itemprop="image"       content="{{ site.url }}/assets/img/meta/0000-og.jpeg">

        <!-- Twitter -->
        <meta name="twitter:card"        content="summary">
        <meta name="twitter:title"       content="{{ site.title }}">
        <meta name="twitter:description" content="{{ site.description }}">
        <meta name="twitter:site"        content="@{{ site.social.twitter }}">
        <meta name="twitter:creator"     content="@{{ site.social.twitter }}">
        <meta name="twitter:image:src"   content="{{ site.url }}/assets/img/meta/0000-tw.jpeg">

        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta property="og:title"        content="{{ site.title }}">
        <meta property="og:description"  content="{{ site.description }}">
        <meta property="og:image"        content="{{ site.url }}/assets/img/meta/0000-og.jpeg">
        <meta property="og:image:width"  content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url"          content="{{ site.url }}">
        <meta property="og:site_name"    content="{{ site.title }}">
        <meta property="og:locale"       content="id_ID">
        <meta property="og:type"         content="website">
