<!-- Search Engine -->
        <meta name="description" content="{{ page.description }}">
        <meta name="image"       content="{{ site.url }}/assets/img/meta/0000-og.jpeg">

        <!-- Schema.org for Google -->
        <meta itemprop="name"        content="{{ page.title }} - {{ site.title }}">
        <meta itemprop="description" content="{{ page.description }}">
        <meta itemprop="image"       content="{{ site.url }}/assets/img/meta/0000-og.jpeg">

        <!-- Twitter -->
        <meta name="twitter:card"        content="summary">
        <meta name="twitter:title"       content="{{ page.title }} - {{ site.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:site"        content="@{{ site.social.twitter }}">
        <meta name="twitter:creator"     content="@{{ site.social.twitter }}">
        <meta name="twitter:image:src"   content="{{ site.url }}/assets/img/meta/0000-tw.jpeg">

        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title"       content="{{ page.title }} - {{ site.title }}">
        <meta name="og:description" content="{{ page.description }}">
        <meta name="og:image"       content="{{ site.url }}/assets/img/meta/0000-og.jpeg">
        <meta name="og:url"         content="{{ site.url }}{{ page.url }}">
        <meta name="og:site_name"   content="{{ site.title }}">
        <meta name="og:locale"      content="id_ID">
        <meta name="og:type"        content="website">
